@font-face {
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.container header .menu {
  display: none;
}
.container header .menu-close {
  display: none;
}
.container header .navlist {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.container header .navlist a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  transition: 0.4s;
}
.container header .navlist a:hover {
  color: hsl(5, 85%, 63%);
}
.container main {
  display: flex;
  gap: 2rem;
}
.container main .main-content div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container main .main-content div img {
  width: 100%;
}
.container main .main-content div div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container main .main-content div div h1 {
  font-size: 3rem;
  color: hsl(240, 100%, 5%);
  width: 300px;
}
.container main .main-content div div div {
  display: flex;
  flex-direction: column;
}
.container main .main-content div div div p {
  max-width: 380px;
  color: hsl(236, 13%, 42%);
}
.container main .main-content div div div button {
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 150px;
  padding: 1rem 0;
  cursor: pointer;
  transition: 0.4s;
}
.container main .main-content div div div button:hover {
  background-color: hsl(240, 100%, 5%);
}
.container main .news-content {
  padding: 0 1rem;
  background-color: hsl(240, 100%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container main .news-content h1 {
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
}
.container main .news-content div {
  max-width: 600px;
}
.container main .news-content div h2 {
  color: hsl(36, 100%, 99%);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: 0.4s;
}
.container main .news-content div h2:hover {
  color: hsl(35, 77%, 62%);
}
.container main .news-content div p {
  color: hsl(233, 8%, 79%);
}
.container .articles-content {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .articles-content article {
  width: 33%;
}
.container .articles-content article img {
  float: left;
  width: 100px;
  margin-right: 1rem;
}
.container .articles-content article span {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}
.container .articles-content article h1 {
  color: hsl(240, 100%, 5%);
  padding: 0.5rem 0;
  cursor: pointer;
  transition: 0.4s;
}
.container .articles-content article h1:hover {
  color: hsl(5, 85%, 63%);
}

@media (width <= 1030px) {
  body {
    overflow-x: hidden;
    margin: 0 1rem;
  }
  .container {
    max-width: 700px;
  }
  .container header .menu {
    display: block;
    cursor: pointer;
  }
  .container header .navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0.4s;
  }
  .container header .navbar .menu-close {
    display: block;
    width: 35px;
    position: fixed;
    top: 2rem;
    right: 1rem;
    cursor: pointer;
  }
  .container header .navbar .navlist {
    flex-direction: column;
    margin-left: 2rem;
  }
  .container header .navbar .navlist a {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
  }
  .container main {
    flex-direction: column;
  }
  .container main .main-content div div {
    flex-direction: column;
    gap: 1rem;
  }
  .container main .main-content div div h1 {
    width: 100%;
  }
  .container main .main-content div div div p {
    min-width: 100%;
    font-size: 1.2rem;
  }
  .container main .main-content div div div button {
    width: 300px;
  }
  .container main .news-content {
    height: 600px;
  }
  .container .articles-content {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .container .articles-content article {
    display: flex;
    align-items: center;
  }
  .container .articles-content article img {
    width: 120px;
  }
  .container .articles-content article div p {
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */